* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Manjari', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Manjari', sans-serif;
  text-align: center;
  text-shadow: 4px 4px 4px #2177b8;
}

.header {
  text-decoration: none;
  border-bottom: #F6D55C solid 8px;
}

p {
  font-weight: 100px;
}

ul {
  list-style-type: none;
}

h1, h2, p {
  margin: 10px;
  padding: 5px;
}

p, li{
  margin-left: 20px;
  margin-right: 20px;
}
